{% extends "layout/base.html" %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="post-title">
            <h2 class="text-info text-center">{{ post.title }}</h2>
        </div>
        <div class="post-date p-3">
            <span class="float-end px-3 fs-6 fw-lighter fst-italic ">{{ post.created_at|date:"D, d M, Y" }}</span>
        </div>
        {% if post.image %}
            <div class="post-image p-3 ">
                <img class="border-1 rounded-3"
                     src="{{ post.image.url }}"
                     alt="{{ post.title }}"
                     height="100%"
                     width="100%" />
            </div>
        {% endif %}
        <div class="post-content word-wrap">{{ post.content }}</div>
    </div>
{% endblock content %}
