{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Django Block">
        <meta name="keywords" content="Django, HTML, CSS, JavaScript">
        <meta name="author" content="Bikin Shrestha">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        {% include "includes/navigationbar.html" %}
        <div class="container mt-3">
            {% block content %}
            {% endblock content %}
        </div>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>
